
.container-2{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
}
.tabs {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.tab {
  color: white;
  font-size: 15px;
  font-style: poppins;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.tab:hover{
  cursor: pointer;
  color: #F9D88B;
  font-weight: 500;
}

.tab.active {
  color: #F9D88B;
  font-weight: 500;
}

.tab-c{
  display: flex;
  flex-direction: column;
}
.line{
  background-color: #F9D88B;
  height: 5px;
  margin-inline: 10px;
  border-radius: 10px;
  margin-top: 3px;
}


.tab-content {
  margin-top: 20px;
  height: 380px;
  border: 1px solid #f3e2bb0e;
  border-radius: 15px;
}

table{
  margin-top: 20px;
  scroll-behavior: smooth;
}

.table-div{
  height: 380px;
  overflow-y: auto;
  scrollbar-width: none;
}

th{
  font-style: poppins;
  font-size: 15px;
  color: #F9D88B;
  font-weight: 400;
}

.hr{
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: #f3e2bb0e;
  
}

.student-table{
  overflow: scroll;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: poppins;
  overflow: hidden;
}

th {
  padding: 0px 15px;
  text-align: center;
}
td{
  padding: 7px 15px;
  text-align: center;
}

td{
  font-style: poppins;
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
}

.row:hover{
  cursor: pointer;
  background-color: #F9D88B;
  color: #252A36;
}


.row:hover td{
  font-family: poppins;
  font-weight: 800;
  color: #252A36;
}
@media screen and (max-width: 600px) {
  table {
    border-radius: 0;
  }
}