.main-container {
  width: 100%;
  height: 60px;
  background-color: #1e1d25;
  border-radius: 8px;
  position: relative;
}

.nav-item-container {
  border-radius: 5px;
  position: absolute;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
}

.nav-item-container:hover {
  background-color: hsl(42, 90%, 76%);
  color: #1e1d25;
  cursor: pointer;
}

mat-icon {
  width: 25px;
  height: 25px;
  color: white;
}

mat-icon:hover {
  color: black;
  cursor: pointer;
}

.menu-icon {
  display: none;
  position: relative;
  top: 8px;
  left: 10px;
  border-radius: 5px;
  padding: 4px;
}

@media (max-width: 768px) {
  .main-container {
    height: 50px;
  }
  .menu-icon {
    display: flex;
  }

  mat-icon:hover {
    color: white;
  }

  .nav-item-container:hover {
    background-color: transparent;
    color: white;
  }
}
