.main-container {
  width: 100%;
  height: 60px;
  background-color: #1e1d25;
  border-radius: 8px;
  position: relative;
}

.nav-item-container {
  border-radius: 5px;
  position: absolute;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  cursor: pointer;
}

mat-icon {
  position: fixed;
  width: 25px;
  height: 25px;
  color: white;
  cursor: pointer;
}

.menu-icon {
  display: none;
  position: relative;
  top: 8px;
  left: 10px;
  border-radius: 5px;
  padding: 4px;
}

.nav-item-container {
  margin-right: 10px;
}

.request-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 12px;
  float: right;
  right: 40px;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .request-count {
    right: 27px;
  }
}

@media (max-width: 1200px) {
  .request-count {
    right: 30px;
  }
}

@media (max-width: 768px) {
  .request-count {
    top: -25px;
    right: 25px;
  }

  .main-container {
    height: 50px;
  }
  .menu-icon {
    display: flex;
  }

  mat-icon:hover {
    cursor: pointer;
  }

  .nav-item-container:hover {
    background-color: transparent;
    color: white;
  }
}

.success {
  position: relative;
  top: 6px;
  right: 7px;
  float: right;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #edfbd8;
  border-radius: 8px;
  border: 1px solid #84d65a;
  box-shadow: 0px 0px 5px -3px #111;
}

.success__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.success__icon path {
  fill: #84d65a;
}

.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #2b641e;
}

.success__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.success__close path {
  fill: #2b641e;
}

.error {
  position: fixed;
  top: 6px;
  right: 7px;
  margin-top: -67px;
  margin-right: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #ef665b;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  position: fixed;
  top: 20px;
  right: 10px;
  position: fixed;
  top: 90px;
  right: 15px;
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close path {
  fill: #fff;
}
