.main-container {
  width: 100%;
  height: 60px;
  background-color: #1e1d25;
  border-radius: 8px;
  position: relative;
}

.nav-item-container {
  border-radius: 5px;
  position: absolute;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  cursor: pointer;
}

mat-icon {
  width: 25px;
  height: 25px;
  color: white;
  cursor: pointer;
}

.menu-icon {
  display: none;
  position: relative;
  top: 8px;
  left: 10px;
  border-radius: 5px;
  padding: 4px;
}

.nav-item-container {
  margin-right: 10px;
}

.request-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 12px;
  float: right;
  right: 40px;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .request-count {
    right: 27px;
  }
}

@media (max-width: 1200px) {
  .request-count {
    right: 30px;
  }
}

@media (max-width: 768px) {
  .request-count {
    top: -25px;
    right: 25px;
  }

  .main-container {
    height: 50px;
  }
  .menu-icon {
    display: flex;
  }

  mat-icon:hover {
    cursor: pointer;
  }

  .nav-item-container:hover {
    background-color: transparent;
    color: white;
  }
}
