html,
.nav-item-container {
  font-family: poppins;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 100%;
  margin-left: -35px;
  cursor: pointer;
}

ul {
  list-style: none;
}

li :hover {
  background-color: hsl(42, 90%, 76%);
  color: #1e1d25;
  font-weight: 600;
}

li span {
  margin-left: 20px;
}

hr {
  margin-left: -40px;
  background-color: #282834;
  height: 2px;
  border: none;
}

.active {
  background-color: hsl(42, 90%, 76%);
  color: #1e1d25;
}

@media screen and (max-width: 768px) {
  .nav-item-container {
    font-family: poppins;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    margin-left: -35px;
    cursor: pointer;
    font-size: small;
  }
}
