<div class="container">
  <div class="search-field">
    <input
      appearance="fill"
      placeholder="Search"
      (input)="filterProducts($event)"
    />
  </div>

  <div class="group-tab-container">
    <div class="tab" *ngFor="let g of groupList">
      <div class="tab-header">
        <div class="group-title">
          {{ g.groupName }}
          <div class="year">{{ g.year }}</div>
          <div class="year">Rank {{ g.rank }}</div>
          <div class="group-member">
            <div class="member-tab" *ngFor="let m of g.studentList">
              <mat-icon *ngIf="m.name === g.student.name">flash_on</mat-icon>
              {{ m.rollNumber }} {{ m.name }}
            </div>
          </div>
        </div>
        <button class="group-view-btn" (click)="groupView()">view</button>
      </div>
      <div class="project-content">
        <div class="project-label">Project</div>
        <div class="project-info">
          <div class="project-name">{{ g.project.name }}</div>
          <div class="project-desc">
            {{ g.project.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
