<div class="container">
  <app-error-message *ngIf="customErrorMessage" [message]="customErrorMessage"></app-error-message>
  <div id="animation-container" class="animation-container"></div>
  <div class="sub-container" id="subContainer">
    <div class="image-container">
      <img src="../../../assets/casual-life-3d-girl-chatting-remotely-with-group-of-three-people.png" alt="">
    </div>

    <div class="logo-container">
      <img src="../../../assets/logo.svg" alt="Loading..">
    </div>

    <div class="text-container">
      <p>Don't have an account?</p>
      <p><a href="#" class="create-link">Create one</a></p>
    </div>

    <div class="divider-container">
      <hr>
      <p class="or-text">OR</p>
      <hr>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <div class="login-form">
      <input placeholder="Email" formControlName="email"/>
      <input placeholder="Password" formControlName="password"/>
    </div>

    <div class="forgot-password">
      <p> <a href="#">Forgot password?</a></p>
    </div>

    <div class="login-button">
      <app-custom-button [buttonText]="'Login'" [type]="'submit'" [imageUrl]="'../assets/Vector.png'"></app-custom-button>
    </div>
    </form>
  </div>
</div>

