.container{
  width: 100%;
  height: 60px;
  background-color: #1e1d25;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
p{
  color: #f9d88b;
          font-size: 14px;
          font-family: Poppins;
          font-weight: 400;
          padding-left: 10px;
        margin: 0;
}
span{
    color: #f9d88b;
          font-size: 14px;
          font-family: Poppins;
          font-weight: 700;
          word-wrap: break-word;
          text-decoration: underline;
}


span:hover{
  cursor: pointer;
}


.nav-item-container {
  border-radius: 5px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 10px; 
}

p:hover{
  cursor: pointer;
}

.nav-item-container:hover {
  background-color: hsl(42, 90%, 76%);
  color: #1e1d25;
}

mat-icon {
  width: 25px;
  height: 25px;
  color: white;
}

.nav-item-container:hover mat-icon {
  color: #1e1d25;
}
