<div class="container">
    <app-flow-tile
      [no]="1"
      [title]="'Create group'"
      [description]="'Kickstart your journey by forming a group. Craft a name that encapsulates the essence of your teams mission and identity.'">
    </app-flow-tile>
    <app-flow-tile
      [no]="2"
      [title]="'Select group members'"
      [description]="'Assemble your team by inviting individuals whose unique skills and perspectives complement each other. Embrace diversity within your group, as it fosters innovation and creativity. Remember, teamwork lays the foundation for success!'">
    </app-flow-tile>
    <app-flow-tile
      [no]="3"
      [title]="'Project choice'"
      [description]="'Explore our curated list of exciting projects, or feel free to propose your own! Delve into each projects details, objectives, and requirements to ensure alignment with your groups interests and aspirations. Choose wisely; this project will be the cornerstone of your collaborative efforts.'">
    </app-flow-tile>
    <app-flow-tile
      [no]="4"
      [title]="'Project allocation'"
      [description]="'Once you selected your preferred project, its time to finalize your commitment. Allocate your chosen project to your group, signaling your dedication to seeing it through to completion. '">
    </app-flow-tile>
  </div>
  
