<div class="container">
  <app-admin-nav (dataEvent)="receiveData($event)"></app-admin-nav>
  <div class="right-container" [class.collapsed]="isSidebarCollapsed">
    <app-admin-nav-header
      [path]="path"
      [currentComponent]="tab"
      (click)="pathClick()"
    ></app-admin-nav-header>
    <div class="content">
      <app-admin-dasboard-tab
        *ngIf="dashboard"
        (pathChange)="receiveDataFromDashboard($event)"
      ></app-admin-dasboard-tab>
      <app-add-users *ngIf="addStudent"></app-add-users>
      <app-admin-student-view
        *ngIf="studentView"
        class="div"
        [student]="student"
      ></app-admin-student-view>
      <app-manage-faculty *ngIf="addFaculties"></app-manage-faculty>
    </div>
  </div>
</div>
